<div fxLayout="row" fxLayoutAlign="center center" class="content">
  <mat-card class="card" >
    <mat-card-title fxLayout.gt-xs="row" fxLayout.xs="column">
      Login
    </mat-card-title>
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <mat-card-content>
      <div class="formrow">
        <mat-icon>person</mat-icon>
        <mat-form-field appearance="fill">

          <mat-label>Username</mat-label>
          <input
            type="text"
            formControlName="username"
            matInput
            required
            [errorStateMatcher]="matcher"
            />
          <mat-hint>DMS Username</mat-hint>
        </mat-form-field>
      </div>
      <div class="formrow">
        <mat-icon>lock</mat-icon>
          <mat-form-field appearance="fill">
            <mat-label>Password</mat-label>
            <input
              type="password"
              formControlName="password"
              matInput
              required
            />
          </mat-form-field>
        </div>
    </mat-card-content>
    <mat-card-actions>
      <button
        [disabled]="loading"
        mat-raised-button
        color="primary"
      >
        LOGIN
      </button>
    </mat-card-actions>
  </form>
  </mat-card>
</div>

